body {
    background-color: #ecf0f1 !important;
}

.btn-primary {
    background-color: #432559 !important;
    border-color: #432559 !important;
}

.btn-primary:active{
    background-color: #1c193c !important;
}

.no-mar-pad {
    padding: 0 !important;
    margin: 0 !important;
}

label {
    margin: 10px;
}

.input-group, .btn-group {
    width: 100%;
}

.btn-group {
    text-align: right;
}

.panel-body {
    padding: 10px !important;
}

/* Refactored */
label {
    font-size: 16pt;
    font-weight: bold !important;
}

.header {

}
.header__image {
    max-height: 64px;
}

@media (max-width: 1000px) {
    .header__image {
        max-width: 100%;
    }
}

.wide-form {
    display: flex;
    padding: 0 15px;
    justify-content: space-around;
}

.wide-form__input {
    flex: 1;
    margin-right: 10px;
}

.wide-form__btn {
    flex: 0;
}

.listview {

}

.listview__sidebar {
    padding: 0 !important;
    margin: 0 !important;
}
.listview__sidebar__label--pending {
    background-color: #f1c40f !important;
}
.listview__content {
    padding: 0 !important;
    margin: 0 !important;
}

.image-list {

}
.image-list__container {
    display: inline-block;
}
.image-list__image {
    max-height: 64px;
    display: inline-block;
}
.image-list__btn, .image-list__btn:hover {
    vertical-align: top;
    margin: 15px;
    display: inline-block;
}

.menu-space-bottom{
    margin-bottom: 20px !important;
}

.input-group .form-control {
    border-radius: 4px !important;
}