.create-input-group{
    margin-bottom: 10px;
}

textarea {
    resize: none;
    min-height: 80px;

    overflow: hidden;
    padding: 0;
    outline: none;
}

#charNum{
    color: #ce8483;
}

.charNum-container{
    display: inline-block;
}

.button-container {
    padding-top: 15px;
}

.user-row {
    height: 64px;
}
.user-row__avatar {
    height: 64px;
    padding: 6px;
    display: inline-block;
}
.user-row__block {
    display: inline-block;
    vertical-align: middle;
}
.user-row__name {
    font-size: 16pt;
    font-weight: bold;
    vertical-align: top;
}
.user-row__balance {
    font-size: 14pt;
}
