<div class="col-md-12 listview">
    <div class="col-md-3 listview__sidebar">
        <div class="list-group">
            <a ng-click="alert(1);" class="list-group-item active">
                <p class="list-group-item-text">TEXT TEXT TEXT</p>
            </a>
            <a ng-click="alert(1);" class="list-group-item">
                <p class="list-group-item-text">TEXT TEXT TEXT</p>
            </a>
            <a ng-click="alert(1);" class="list-group-item">
                <p class="list-group-item-text">TEXT TEXT TEXT</p>
            </a>
            <a ng-click="alert(1);" class="list-group-item">
                <p class="list-group-item-text">TEXT TEXT TEXT</p>
            </a>
            <a ng-click="alert(1);" class="list-group-item">
                <p class="list-group-item-text">TEXT TEXT TEXT</p>
            </a>
        </div>
    </div>
    <div class="col-md-9 listview__content">
        <div class="row">
            <div class="col-md-7">
                <div class="showItem">
                    <label>Автор новости:</label>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            .....
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="showItem">
                    <label>Ссылка на автора:</label>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            .....
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="showItem">
                    <label>Описание:</label>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            .....
                        </div>
                    </div>
                </div>
                <div class="showItem">
                    <label>Ссылки:</label>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            .....
                        </div>
                    </div>
                </div>

                <div class="showItem">
                    <label>Текст новости:</label>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            .....
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5"><!-- для ссылок на файлы --></div>
                    <div class="col-md-7">
                        <div class="btn-group">
                            <div class="container-fluid button-container no-mar-pad">
                                <button type="submit" class="btn btn-primary">Опубликовать</button>
                                <button type="submit" class="btn btn-warning">Удалить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>