<div class="col-md-12 container">
    <div class="panel panel-default">
        <div class="panel-heading">Управление заблокированными доменами</div>
        <div class="panel-body">
            <form class="form-horizontal" ng-submit="addItem()">
                <div class="form-group wide-form">
                    <input type="text" ng-model="domain" class="form-control wide-form__input" pattern="https?://.+"
                           placeholder="Домен сайта для внесения в чёрный список">
                    <button type="submit" class="btn btn-success wide-form__btn">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </form>
            <table class="table table-hover">
                <tbody>
                    <tr ng-repeat="row in items">
                        <td>
                            <a href="{{row.domain}}">{{row.domain}}</a>
                        </td>
                        <td class="text-right text-nowrap no-mar-pad">
                            <button class="btn btn-xs btn-warning button-trash" ng-click="deleteItem(row.id)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>