<!DOCTYPE html>
<html ng-app="echoes">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LENTACH</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/{{static_hash}}/vendor.bundle.js"></script>
    <script src="/static/{{static_hash}}/main.bundle.js"></script>
    <script src="/static/{{static_hash}}/admin.bundle.js"></script>
    <link rel="stylesheet" href="/static/{{static_hash}}/main.css">
    <link rel="stylesheet" href="/static/{{static_hash}}/admin.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script>
        const user_id = {{id}};
        const user_key = '{{key}}';
    </script>
</head>
<body>

<div class="container-fluid">
    <!--Меню-->
    <div class="row">
        <ul class="nav nav-tabs menu-space-bottom">
            <li class="active"><a href="#!/submitted">Полученное</a></li>
            <li><a href="#!/approved">Одобренное</a></li>
        </ul>
    </div>
    <!--Содержимое формы-->
    <div class="row">
        <div ng-view></div>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

</body>
</html>
