<!DOCTYPE html>
<html ng-app="echoes">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LENTACH</title>

    <!-- Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/{{static_hash}}/vendor.bundle.js"></script>
    <script src="/static/{{static_hash}}/main.bundle.js"></script>
    <link rel="stylesheet" href="/static/{{static_hash}}/main.css">
    <link rel="stylesheet" href="/static/{{static_hash}}/submit.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <!--<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
</head>
<body>

<div class="container-fluid">
    <!--Меню-->
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                Данный сайт не предназначен для использования напрямую. Воспользуйтесь приложением сообщества.
            </div>
        </div>
    </div>
</div>
</body>
</html>