<!DOCTYPE html>
<html ng-app="echoes">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LENTACH</title>

    <!-- Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/{{static_hash}}/vendor.bundle.js"></script>
    <script src="/static/{{static_hash}}/main.bundle.js"></script>
    <script src="/static/{{static_hash}}/submit.bundle.js"></script>
    <link rel="stylesheet" href="/static/{{static_hash}}/main.css">
    <link rel="stylesheet" href="/static/{{static_hash}}/submit.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <!--<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
    <script>
        const user_id = {{id}};
        const user_key = '{{key}}';
    </script>
</head>
<body>

<div class="container-fluid" ng-controller="SubmitController">
    <!-- Пользователь -->
    <div class="row user-row">
        <div class="user-row__avatar"><img src="{{user.photo_50}}"></div>
        <div class="user-row__block">
            <div class="user-row__name">{{user.first_name}} {{user.last_name}}</div>
            <div class="user-row__balance">Баланс: {{user_balance}} баллов</div>
        </div>
    </div>
    <!-- Меню -->
    <div class="row">
        <ul class="nav nav-tabs menu-space-bottom">
            <li ng-class="{active : isRouteActive('/create')}"><a href="#!/create">Отправить</a></li>
            <li ng-class="{active : isRouteActive('/history')}"><a href="#!/history">История</a></li>
        </ul>
    </div>
    <!--Содержимое формы-->
    <div class="row">
        <div ng-view></div>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

</body>
</html>