<div class="col-md-12">
    <header class="header">
        <img class="header__image" src="/static/images/true_logo.png" alt="ЛЕНТАЧ">
        <h1>Предложи нам новость!</h1>
    </header>
    <div class="alert alert-{{flash_type}}" ng-show="flash_type">{{flash_text}}</div>
    <form ng-submit="send()">
        <div class="input-group">
            <label for="summary">
                Описание:
            </label>
            <input type="text" id="summary" ng-model="summary" class="form-control" required placeholder="Краткое описание вашей новости">
        </div>

        <div class="input-group">
            <label>
                Ссылки (не более 5): <a class="btn btn-xs btn-primary addfields" ng-click="addNewChoice()">Добавить поле</a>
            </label>
            <fieldset data-ng-repeat="choice in choices">
                <input type="text" class="form-control" ng-model="choice.url" pattern="https?://.+" placeholder="Введите адрес ссылки" style="width: 90%">
                <a class="btn btn-danger btn-small remove" ng-show="$last" ng-click="removeChoice()">-</a>
            </fieldset>
        </div>

        <div class="input-group">
            <label for="text">
                Текст новости:
            </label>
            <textarea id="text" ng-model="text" rows="1" style="height:1em;" class="form-control" onkeyup="countChar(this)"
                      onclick="init()" placeholder="Подробно оформите вашу новость"></textarea>
        </div>

        <script type="text/javascript">
            var observe;
            if (window.attachEvent) {
                observe = function (element, event, handler) {
                    element.attachEvent('on' + event, handler);
                };
            }
            else {
                observe = function (element, event, handler) {
                    element.addEventListener(event, handler, false);
                };
            }

            function init() {
                let text = document.getElementById('text');

                function resize() {
                    text.style.height = 'auto';
                    text.style.height = text.scrollHeight + 'px';
                }

                /* 0-timeout to get the already changed text */
                function delayedResize() {
                    window.setTimeout(resize, 0);
                }

                observe(text, 'change', resize);
                observe(text, 'cut', delayedResize);
                observe(text, 'paste', delayedResize);
                observe(text, 'drop', delayedResize);
                observe(text, 'keydown', delayedResize);

                text.focus();
                text.select();
                resize();
            }

        </script>

        <script>
            function countChar(val) {
                var len = val.value.length;
                if (len > 5000) {
                    $('#charNum').text("Длина превышана на " + (len - 5000) + " симв.");
                    document.getElementById('submit').disabled = true;
                } else {
                    $('#charNum').text("");
                    document.getElementById('submit').disabled = false;
                }
            }
        </script>

        <div class="row">
            <div class="col-md-7 col-xs-4" ng-controller="PhotosUploadController">
                <input type="file" id="file_upload" nv-file-select uploader="uploader" style="display: none"/>
                <div class="image-list">
                    <div class="image-list__btn">
                        <a class="btn btn-success" ng-click="addPhoto()"><span class="glyphicon glyphicon-paperclip"></span></a>
                    </div>
                    <div ng-repeat="file in files" class="image-list__container">
                        <img src="{{file.filename}}" class="image-list__image thumbnail">
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-4">
                <div class="charNum-container"><label id="charNum"> </label></div>
            </div>
            <div class="col-md-3 col-xs-4">
                <div class="btn-group">
                    <div class="container-fluid button-container">
                        <button id="submit" type="submit" class="btn btn-primary">Отправить</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
