<div class="col-md-12 listview">
    <div class="col-md-3 listview__sidebar">
        <div class="list-group">
            <a class="list-group-item" ng-repeat="item in items" ng-click="setItem(item);">
                <p class="list-group-item-text" style="cursor: pointer;">{{item.summary}} <span class="label listview__sidebar__label--{{item.state}}">{{item.state}}</span></p>
            </a>
        </div>
    </div>
    <div class="col-md-9 listview__content" ng-show="data">
        <div class="col-md-12">
            <div class="showItem">
                <label>Описание:</label>
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{data.summary}}
                    </div>
                </div>
            </div>

            <div class="showItem">
                <label>Ссылки:</label>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div ng-repeat="link in data.links">
                            <a href="{{link.link}}">{{link.link}}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="showItem">
                <label>Изображения:</label>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="image-list">
                            <div ng-repeat="photo in data.photos" class="image-list__container">
                                <a target="_blank" href="{{photo.url}}"><img src="{{photo.url}}" class="image-list__image thumbnail"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="showItem">
                <label>Текст новости:</label>
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{data.text}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>